# Dev
.air.toml
.editorconfig
cover.out
tag-service

# Environment
.env.*

# Extensions
ext/

# Git
.git/
.gitignore
git-hooks/

# IDEs
.idea/
.vscode/

# Project
.dockerignore
Dockerfile
Makefile
README.md

# Web
web/**
!web/build/
